[submodule "zsh/.zsh/themes/powerlevel10k"]
	path = zsh/.zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/.zsh/plugins/fast-syntax-highlighting"]
	path = zsh/.zsh/plugins/fast-syntax-highlighting
	url = git@github.com:zdharma-zmirror/fast-syntax-highlighting.git
